.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  width: 600px;
  height: 600px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.gameSquare {
  flex-grow: 0;
  max-width: 33.33333%;
  flex-basis: 33.3333%;
  height: 200px;
  border-width: 5px;
}

.gameSquare.left {
  border-right-style: solid;
}

.gameSquare.right {
  border-left-style: solid;
}

.gameSquare.top {
  border-bottom-style: solid;
}

.gameSquare.bottom {
  border-top-style: solid;
}

