.cross {
    background: black;
    height: 75%;
    position: relative;
    width: 10px;
    transform: rotate(45deg);
}

.cross::after {
  position: absolute;
  background: black;
  content: '';
  height: 10px;
  left: -57px;
  bottom: 72.5px;
  width: 145px;
}

